.sct01 {
    height: 100vh;
    background-color: #ececec;
}
.sct02 {
    height: 100vh;
    background-color: #cfcfcf;
}
.sct03 {
    height: 100vh;
    background-color: #aaaaaa;
}
.sct04 {
    height: 100vh;
    background-color: #949494;
}
.sct05 {
    height: 100vh;
    background-color: #838383;
}
.sct06 {
    height: 100vh;
    background-color: #5f5f5f;
}